.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: beige;

}

a {
  text-decoration: none;
}

.content {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description {
  border: solid black 1px;
  padding: 20px;
  margin: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 750px) {}

/* #person {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.persona {
  display: block;
  border: 2px solid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
} */
